<div class="car-listings">

  <div class="car-card" *ngFor="let car of carslist">
      <div class="car-header">
          <div class="car-image"><img [src]=[image] alt=""></div>
          <div class="car-model">{{car.make}} {{car.model}}</div>
          <div class="car-rating">4.8 (2,436 reviews)</div>
      </div>
      <div class="car-details">
          <div class="detail-item passengers">4 Passagers</div>
          <div class="detail-item ac">Air Conditioning</div>
          <div class="detail-item transmission">{{car.transmission}}</div>
          <div class="detail-item doors">4 Doors</div>
      </div>
      <div class="car-footer">
          <div class="price">{{car.price}}</div>
          <button class="rent-btn" [routerLink]="['/selected', car.id]">Rent Now</button>
      </div>
  </div>



</div>
