
<div class="footer">
  <div>
      <h4>RENTCARS</h4>
      <p>25566 Hc 1, Glenallen, Alaska, 99588, USA</p>
      <p>+603 4784 273 12</p>
      <p>rentcars_gmail.com</p>
  </div>
  <div>
      <h4>Our Product</h4>
      <a>Career</a>
      <a>Car</a>
      <a>Packages</a>
      <a>Features</a>
      <a>Priceline</a>
  </div>
  <div>
      <h4>Resources</h4>
      <a>Download</a>
      <a>Help Centre</a>
      <a>Guides</a>
      <a>Partner Network</a>
      <a>Cruises</a>
      <a>Developer</a>
  </div>
  <div>
      <h4>About Rentcars</h4>
      <a>Why choose us</a>
      <a>Our Story</a>
      <a>Investor Relations</a>
      <a>Press Center</a>
      <a>Advertise</a>
  </div>
  <div>
      <h4>Follow Us</h4>
      <div class="social-icons d-flex gap-2">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
  </div>
</div>