<section>

  <div class="container">
    <span class="badge">How It Works</span>
    <h2>Rent with following 3 working steps</h2>

    
    <div class="imager"><img src="assets/Images/Mustang-PNG-Isolated-HD.png" alt="" srcset=""></div>

    <div class="iconz d-flex justify-content-evenly">

      <div class="icon">
        <div class="iconContainer">
          <i class="fa-solid fa-location-dot"></i>
        </div>

        <div class="brief">
          <h4>Choose Location</h4>
          <p>Choose Your's Anf Find </p>
          <p class="text-center">Your Best Car</p>

        </div>
      </div>

      <div class="icon">
        <div class="iconContainer">
          <i class="fa-solid fa-calendar-days"></i>
        </div>

        <div class="brief">
          <h4>Pick-Up Date</h4>
          <p>Select Your Pick Up Date And</p>
          <p class="text-center">Time To Book Your Car</p>

        </div>
      </div>

      <div class="icon">
        <div class="iconContainer">
          <i class="fa-solid fa-car"></i>
        </div>

        <div class="brief">
          <h4>Book Your Car</h4>
          <p>Book Your Car And We 'll Deliever </p>
          <p class="text-center">It Directly To You</p>

        </div>
      </div>

    </div>

    <div class="image"><img src="assets/Images/Audi 1.png" alt="" srcset=""></div>

  </div>



</section>