<section class="Content">

  <div class="navbar">

    <div class="container">

      <div class="row p-3">

        <div class="col-4 d-flex gap-1">

          <i class="fa-solid fa-location-pin-lock"></i>
          <a [routerLink]="['/Home']">RENTCARS</a>

        </div>


        <div class="col-8 d-flex gap-5 blacked">

          <a [routerLink]="['/Home']"> Become A Renter</a>
          <a [routerLink]="['/Home']"> Rental Deals </a>
          <a [routerLink]="['/Home']">How It works</a>
          <a [routerLink]="['/Home']">Why choose us </a>


        </div>


      </div>


      <div class="col-2 d-flex blacked gap-2 ">

        <a [routerLink]="['/Home']">sign in</a>
        <button>Sign Up</button>


      </div>

    </div>

  </div>


  <div class="body">

    <div class="container">

      <div class="row">




        <div class="col-6 Headings">

          <p>Find ,book and</p>
          <div class="d-flex gap-4">
            <p>rent a car</p>
            <p class="ease">Easily</p>
          </div>

          <article>Get A car Wherever and Whenever You Need </article>
          <article> it With Your IOS And Android Device</article>


          <div class="app-buttons">
            <div class="button google-play">
              <img src="assets/Images/Google Play Logo.webp" alt="Google Play Logo">
              <div class="text">
                <span class="small-text">GET IT ON</span>
                <span class="big-text">Google Play</span>
              </div>
            </div>
            <div class="button app-store">
              <img src="assets/Images/Apple Logo.webp" alt="Apple Logo">
              <div class="text">
                <span class="small-text">Download on the</span>
                <span class="big-text">App Store</span>
              </div>
            </div>
          </div>
        </div>



        <div class="col-6">
          <div class="frame"><img src="assets/Images/Frame.png" alt="Background"> </div>
          <div class="model"><img src="../../../assets/Images/porcha.png" alt="CarModel"></div>


        </div>

      </div>

    </div>

  </div>

</section>



<section class="Rest of LandingPage">

  <app-homepageii></app-homepageii>
  <app-homepageiii></app-homepageiii>
  <app-hompageiv></app-hompageiv>
  <app-hompagev></app-hompagev>
  <app-footer></app-footer>

</section>
