<div class="Holder d-flex">

  <div class="lhs">

    <div class="vector"><img src="assets/Images/Vector.png" alt=""></div>
    <div class="model"><img src="assets/Images/equinox.png"></div>

  </div>



  <div class="rhs">

    <div class="banner">
      <p>Why Choose Us </p>
    </div>



    <div class="Professions">

      <h2>We Offer Best Experience</h2>
      <h2>With Our Rental Deals</h2>
  

      <div class="first d-flex align-items-baseline">

       
        <div class="iconContainer">

          <i class="fa-solid fa-sack-dollar"></i>

        </div>

        <div class="caseStudy">

          <div class="title">

            <h4>Best Price Guranteed</h4>

          </div>

          <article>
            Find a Lower Price ? We 'll Refund You 100%
           <br> Of The Difference
          </article>

        </div>


      </div>


      <div class="first d-flex align-items-baseline">

       
        
        <div class="iconContainer">

          <i class="fa-solid fa-user-tie"></i>

        </div>


        <div class="caseStudy">

          <div class="title">

            <h4>Experience Driver</h4>

          </div>

          <article>
            Don't You Have Driver ? Don't Worry, We Have Many          
             <br> Experienced Drivers For You
          </article>

        </div>


      </div>


      <div class="first d-flex align-items-baseline">

       
        <div class="iconContainer">

          <i class="fa-solid fa-clock"></i>

        </div>


        <div class="caseStudy">

          <div class="title">

            <h4>24 Hour Car Delivey </h4>

          </div>

          <article>
            Book Your Car At Any Time And We 'll Deliver It
           <br> Directly To You 
          </article>

        </div>


      </div>



      <div class="first d-flex align-items-baseline">

       
        <div class="iconContainer">

          <i class="fa-solid fa-headset"></i>

        </div>


        <div class="caseStudy">

          <div class="title">

            <h4>24 Hour Technical Support </h4>

          </div>

          <article>
            Have A Ques.? Contact Rentcars Support  
           <br>Any Time  When You 've A Prob.
          </article>

        </div>


      </div>



  </div>


  </div>

</div>
