<div class="container">
  <div class="left-section">
      <h1>Download Rentcars App for <span style="color: blue;">FREE</span></h1>
      <p>For faster, easier booking and exclusive deals.</p>
      
      <div class="app-buttons">
        <div class="button google-play">
          <img src="assets/Images/Google Play Logo.webp" alt="Google Play Logo">
          <div class="text">
            <span class="small-text">GET IT ON</span>
            <span class="big-text">Google Play</span>
          </div>
        </div>
        <div class="button app-store">
          <img src="assets/Images/Apple Logo.webp" alt="Apple Logo">
          <div class="text">
            <span class="small-text">Download on the</span>
            <span class="big-text">App Store</span>
          </div>
        </div>
      </div>
      <div class="form">
          <input type="text" placeholder="Name">
          <input type="text" placeholder="Phone Number">
          <input type="email" placeholder="Email">
          <button>Send</button>
      </div>
 
    </div>
  <div class="right-section">
      <img src="assets/Images/iPhone 14 Pro Space Black Mockup@2x.png" alt="App Preview" width="200">
  </div>
</div>